.displayTable{
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 50px 10px;
    text-align: center;
}

input[type=password], input[type=email] {
    padding: 1px;
    border-radius: 7px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
input[type=password]:focus input[type=email]:focus{
    background-color: #ddd;
    outline: none !important;
    border: 10px #ee6e73;
    box-shadow: 0 0 10px #719ECE;
}

.signIn-btn{
    background-color: #ee6e73;
}
